*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  margin: 1rem 2rem 0;
  font-size: 0;
}

.header > *, .nav-menu li {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

.nav-menu {
  margin: 0 1rem;
  color: #025157;
}

.nav-menu a{
  margin-right: 1.5rem;
  text-decoration: none;
  color: #025157;
  font-weight: 500;
}

nav a:hover {
  color: #339ea5;
}

.logo-container {
  width: 10%;
  text-decoration: none;
}

.logo {
  width: 100%;
}

nav {
  width: 65%;
  text-align: center;
  padding-left: 8rem;
}

.action-container {
  width: 25%;
  text-align: right;
  font-size: 1.8rem;
}

.action-container button {
  color: white;
  background-color: #67b54b;
  padding: 9px 9px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}

@media screen and (max-width: 1018px) {
  .header > *, .nav-menu li {
    display: block;
  }
  
  .logo-container {
    width: 15%;
    margin: 0 auto;
  }

  nav {
    padding: 0;
    margin: 0 auto;
    margin-top: 1.5rem;
  }

  .nav-menu {
    padding: 0;
    padding-left: 1rem;
  }

  .nav-menu li {
    padding-bottom: 1rem;
  }

  .action-container {
    margin: 0 auto;
    text-align: center;
    padding-right: 0.5rem;
    margin-top: 1.7rem;
  }
}